.metadata/
.recommenders/
.gradle
ParticleHats/.classpath
ParticleHats/.project
ParticleHats/.settings
ParticleHats/target
Builds/
build/
Compatability/
.idea/
ParticleHats/out/
ParticleHats/lib/fusion-bukkit.jar
